<div class="card">
  <div class="card-header">
    <img *ngIf="post.user?.profilePicture" [src]="post.user?.profilePicture" alt="{{ post.user?.name }}'s Avatar'" class="avatar">
    <h2 routerLink="/profile/{{post.userAlias}}" >{{ post.userAlias }}</h2>
  </div>
  <div class="card-body">
    <p class="card-text">{{ post.text }}</p>
    <img *ngIf="post.picture" [src]="post.picture" alt="Post Picture" class="post-picture">
  </div>
  <div class="card-footer">
    <p class="like-count">{{ post.likeCount }} likes</p>
    <p class="date-created">{{ post.dateCreated | date }}</p>
  </div>
</div>
